/* * {
    border: solid 1px red !important;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
} */

.bgcolor {
    background-color: blue;
}

.title {
    margin-left: 30px;
}

.container {
    margin-left: 5%;
    margin-top: 15%;
    background-color: #fff;
}

.text {
    padding: 10px 10px;
    margin-left: 20px;
}

.add_btn {
    margin-left: 30px;
    color: blueviolet;
    background-color: #fff;
    border: 1px solid blueviolet;
    padding: 10px 10px;
}

.table {
    width: 100%;
}

.column_created_at {
    padding-left: 10%;
}

.column_title {
    /* padding-left: 10%; */
}

.column_updated_at {
    padding-left: 0%;
}

.column_delete {
    padding-left: 10px;
}

.todo-created_at {
    padding-left: 5%;
}

.todo-title {
    padding-left: 10%;
}

.display_flex {
    display: flex;
}

.update_btn {
    margin-left: 70px;
    color: orange;
    background-color: #fff;
    border: 1px solid orange;
    /* padding: 0px 5px; */
}

.delete_btn {
    margin-left: 70px;
    color: skyblue;
    background-color: #fff;
    border: 1px solid skyblue;
    /* padding: 10px 10px; */
}

td:nth-child(1) {
    width: 300px;
}

td:nth-child(2) {
    width: 530px;
    padding-left: 250px;
}

td:nth-child(3) {
    width: 90px;
}

.table {
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
}

.todo_list_container {
    margin-bottom: 10px;
}
