/* * {
    border: solid 1px red !important;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
} */

.bgcolor {
    background-color: blue;
}

.title {
    margin-left: 30px;
    font-size: 1.5em;
}

.header_title_button {
    display: flex;
}

.atag_search_button {
    margin-left: 3%;
    margin-bottom: 1%;
    background-color: white;
    color: green;
    border: 2px solid green;
    padding: 8px;
}

.atag_search_button:hover {
    background-color: green;
    color: #fff;
}

.logout_button_position {
    margin-left: 50%;
    margin-top: 2%;
}

.lg_btn {
    background-color: white;
    color: red;
    border: 2px solid red;
    padding: 9px;
    border-radius: 5px;
}

.lg_btn:hover {
    background-color: red;
    color: #fff;
}

.add_category {
    padding: 8px;
    margin-left: 3%;
    padding: 10px;
}

.container {
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 15%;
    background-color: #fff;
    padding-top: 10px;
    padding-bottom: 20px;
    border-radius: 5px;
}

.text {
    padding: 10px 10px;
    margin-left: 20px;
}

.add_btn {
    margin-left: 30px;
    color: blueviolet;
    background-color: #fff;
    border: 1px solid blueviolet;
    padding: 10px 10px;
    border-radius: 2px;
}

.add_btn:hover {
    background-color: blueviolet;
    color: #fff;
}

table {
    width: 100%;
    table-layout: fixed;
}

.th_created_at {
    width: 30%;
}

.th_task_name {
    width: 30%;
}

.th_category {
    width: 10%;
}

.th_updated_at {
    width: 10%;
}

.th_delete {
    width: 10%;
}

.column_margin {
    margin-top: 20px;
    margin-bottom: 20px;
}

.display_flex {
    display: flex;
}

.update_btn {
    margin-left: 35px;
    color: orange;
    background-color: #fff;
    border: 1px solid orange;
    border-radius: 2px;
    padding: 5px 5px;
}

.update_btn:hover {
    background-color: orange;
    color: #fff;
}

.delete_btn {
    margin-left: 35px;
    color: skyblue;
    background-color: #fff;
    border: 1px solid skyblue;
    border-radius: 2px;
    padding: 5px 5px;
}

.delete_btn:hover {
    background-color: skyblue;
    color: #fff;
}

.todo_list_container {
    margin-bottom: 10px;
}

.column_created_at {
    padding-left: 60px;
}

.todo_task_name {
    margin-left: 50px;
}

.column_category {
    margin-left: 30px;
}

.sub_container {
    margin-left: 30px;
}

.search_textbox {
    margin-left: 20px;
}

.search_category {
    margin-left: 20px;
    padding: 12px;
}

.serach_button_sample {
    margin-left: 3%;
    margin-bottom: 1%;
    background-color: white;
    color: green;
    border: 2px solid green;
    padding: 8px;
    border-radius: 2px;
}

.serach_button_sample:hover {
    background-color: green;
    color: #fff;
}

.search_textbox {
    margin: 0px;
    padding: 0px;
    height: 40px;
}

.return_btn {
    margin-left: 20px;
    color: gray;
    background-color: #fff;
    border: 1px solid gray;
    border-radius: 2px;
    padding: 5px 5px;
}

.return_btn:hover {
    background-color: gray;
    color: #fff;
}
